html{
    width: 100%; height: 100%;
}
*{
    font-size: 1.3vw;
    color: #6f6f6f;
    font-family: "Open Sans";
}
a{
    text-decoration: none;
}
body{
    width: 100%; height: 100%;
    margin: unset;
}
#wrapper{
    min-width: 100%; min-height: 100%; position: relative;
    width: 100%;
}
header{
    background-color: #f5f5f5;
}
#header-content{
    padding-top: 5%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-right: 3%;
    padding-bottom: 3%;
}
#smart{
    margin-left: 3%;
    float: left;
    font-size: 37.77px;
    display: flex;
    text-align: center;
    border: 0.2vw solid #6f6f6f;
    width: 10%;
}
#menu{
    float: right;
    width: 2.4%;
    margin-right: 3%;
}
h1{
    font-size: 3vw;
    margin-top: 10%;
    text-align: center;
}
p{
    font-size: 1.2vw;
}
.orange{
    font-size: inherit;
    color: #fa9a87;
}
#header-text{
    text-align: center;
}
.header-text{
    margin: unset;
}
#send-message{
    margin-left: 3%;
    padding-top: 3%;
    margin-top: 6%;
    background-color: white;
    width: 40%;
    
}
#send-message-form{
    width: 100%;
    display: block;
    text-align: center;
}
.inputs{
    border: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: #c7c7c7 1px solid;
}
#submit{
    font-size: 15px;
    border:none;
    background-image:none;
    background-color:transparent;
    box-shadow: none;
    width: 100%;
    height: auto;
}
#top-label{
    font-size: 1.3vw;
}
#submit{
    margin-top: 20px;
}
textarea{
    resize: none;
}
menu{
    padding: unset;
}
#working-process{
    margin-left: 13%;
    margin-right: 13%;
}
#process-wrapper{
    margin-bottom: 12%;
    display: flex;
}
.process{
    margin-right: 1%;
    margin-left: 1%;;
    text-align: center;

    width: 23%;
}
.process-icon{
    margin-top: 20%;
    width: 18%;
}
.process-heading{
    color: white;
    font-size: 1.3vw;
}
.process-p{
    font-size: 1vw;
    color: white;
    margin: 2.5px 2.5px;
}

.process-know-more{
    display: flex;
    margin-top: 10%;
    border-radius: 27.5px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 90%;
    height: 20%;
    margin-bottom: -15%;
    box-shadow: 0px 0px 14px -6px rgba(0,0,0,0.29);

}
.plus{
    width: 10%;
    margin-left: auto;
    margin-top: 7%;
    height: 45%;
}
.know-more{
    margin-top: 6%;
    margin-left: 5%;
    margin-right: auto;
}
#first{
 background-color: #4eb2f7;
}
#second{
    background-color:#c049f8 ;
}
#third{
    background-color:#817eff ;
}
#fourth{
    background-color:#f74770 ;
}
#featured-works{
    margin-left: 13%;
    margin-right: 13%;
}
#featured-works-article{
    padding-top: 0.1px;
    background-color: #f5f5f5;
    width: 100%;
}
article{
    
}
#featured-works-container{
    width: 74%;
    margin-left: 13%;
    margin-right: 13%;
}
.work{
    float: left;
    background-color: #ff5c36;
    width: 30%;
    margin: 7px;
}
#services-paragrapgh{
    text-align: center;
    margin-bottom: 100px;
}
#services-container{
    width: 100%;
}